@font-face {
  font-family: 'DIN Pro - Bold';
  src: url('../fonts/DIN-Pro-Bold/DIN-Pro-Bold.woff') format('woff'),
  url('../fonts/DIN-Pro-Bold/DIN-Pro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro - Medium';
  src: url('../fonts/DIN-Pro-Medium/DIN-Pro-Medium.woff') format('woff'),
  url('../fonts/DIN-Pro-Medium/DIN-Pro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/DIN-Pro/DIN-Pro.woff') format('woff'),
  url('../fonts/DIN-Pro/DIN-Pro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro - Light';
  src: url('../fonts/DIN-Pro-Light/DIN-Pro-Light.woff') format('woff'),
  url('../fonts/DIN-Pro-Light/DIN-Pro-Ligh.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}