@media screen and (min-width: 993px) {

  .item {
    &__link {
      transition: all 0.3s linear;

      path {
        transition: all 0.3s linear;
      }

      &:hover {
        color: #202020;

        path {
          fill: #202020;
          ;
        }
      }

      &--main {
        transition: all 0.3s linear;

        &:hover {
          color: $primary;
          border-bottom-color: $primary;
        }
      }
    }

    &--main {
      &:last-of-type .link {
        path {
          transition: all 0.3s linear;
        }

        &:hover {
          border-color: transparent;

          path {
            fill: $dark;
          }
        }
      }
    }
  }

  .log-in {
    transition: all 0.3s linear;

    &:hover {
      cursor: pointer;
      color: $secondary;
    }
  }

  .hero {
    &__button {
      transition: all 0.3s linear;

      &:hover {
        background-color: transparent;
        color: $dark;
        .button__arrow-right {
          path {
            fill: $dark;
          }
        }
      }
    }
  }

  .social {
    &__link {
      path {
        transition: all 0.3s linear;
    }
      &:hover {
        path {
          fill: $dark;
        }
      }
    }
  }

  .col {
    &__button {
      path {
        transition: all 0.3s linear;
      }
      transition: all 0.3s linear;
      &:hover {
        color: $light;
        background-color: $dark;
        path {
          fill: $light;
        }
      }
    }
  }

  .categories {
    &__col {
      transition: all 0.3s linear;
      path {
        transition: all 0.3s linear;
      }
      &:hover {
        color: $light;
        background-color: $primary;
        path {
          fill: $light;
        }
      }
    }
    &__button {
      transition: all 0.3s linear;
      path {
        transition: all 0.3s linear;
      }
      &:hover {
        cursor: pointer;
        color: $light;
        background-color: $dark;
        path {
          fill: $light;
        }
      }
    }
  }



  .card {
    transition: all 0.3s linear;
    &:hover {
      box-shadow: 1px 1px 3px $dark;
    }
    &__img-block {
      &:hover {
        .card__block--hidden {
          display: block;
        }
      }
    }
    &__favorites-img {
      path {
        transition: all 0.3s linear;
      }
      &:hover {
        path {
          fill: $primary;
        }
      }
    }
    &__add-img,  &__add-img--small {
      path {
        transition: all 0.3s linear;
      }
      &:hover {
        path {
          fill: $primary;
        }
      }
    }
  }
  .popular {
    &__button {
      transition: all 0.3s linear;
    }
    path {
      transition: all 0.3s linear;
    }
    &__button {
      &:hover {
        cursor: pointer;
        background-color: $dark;
        color: $light;
        path {
          fill: $light;
        }
      }
    }

  }

  .mobile-app__button {
      transition: all 0.3s linear;
    path {
      transition: all 0.3s linear;
    }
    &:hover {
      cursor: pointer;
      background-color: $light;
      color: $primary;
      path {
        fill: $primary;
      }
    }
  }

  .services__slide {
    transition: all 0.3s linear;
    &:hover {
      box-shadow: 1px 1px 3px $dark
    }
  }

  .footer__button {
    transition: all 0.3s linear;
    path {
      transition: all 0.3s linear;
    }
    &:hover {
      cursor: pointer;
      background-color: $dark;
      color: $light;
      path {
        fill: $light;
      }
    }
  }
  .footer__item-link {
    transition: all 0.3s linear;
    &:hover {
      color: $dark;
    }
  }
  .footer__phone {
    transition: all 0.3s linear;
    &:hover {
      color: #919191;
    }
  }
  .footer__email {
    transition: all 0.3s linear;
    &:hover {
      color: $dark;
    }
  }
  .footer__send-error {
    transition: all 0.3s linear;
    &:hover {
      color: $light;
    }
  }

  select {
    &:hover {
      cursor: pointer;
    }
  }

  .catalog-col__button {
    transition: all 0.3s linear;
    path {
      transition: all 0.3s linear;
    }
    &:hover {
      cursor: pointer;
      color: $light;
      background-color: $primary;
      path {
        fill: $light;
      }
    }
  }

  .catalog__menu-link {
    transition: all 0.3s linear;
    &:not(.catalog__menu-link--active):hover {
      text-decoration: underline;
      color: $primary;
    }
  }
  .paginations__item {
    transition: all 0.3s linear;
    &:not(.paginations__item--active):hover {
      color: $primary;
      border-color: $primary;
    }
  }
  .paginations__next {
    transition: all 0.3s linear;
    &:hover {
      cursor: pointer;
      background-color: lighten($primary,10%);
      border-color: lighten($primary,10%);
    }
  }

  .swiper-slide-thumb-active {
    border-color: $primary;
  }

  .label__pickup-point, .label__color, .label__delivery, .product__slide--thumbs, .label__tab {
    cursor: pointer;
  }

.product__button {
  transition: all 0.3s linear;
    cursor: pointer;
    path {
      transition: all 0.3s linear;
    }
  &--add {
    &:hover {
      background-color: transparent;
      color: $primary;
      path {
        fill: $primary;
      }
    }
  }
  &--favorites, &--wholesale {
    &:hover {
      background-color: $dark;
      color: $light;
      path {
        fill: $light;
      }
    }
  }

}


}