@media screen and (min-width: 993px) {
  .logo {
    &__title {
      transition: all 0.3s linear;
    }

    &__title:hover {
      color: #919191;
    }
  }

  .item {
    &__link {
      transition: all 0.3s linear;

      path {
        transition: all 0.3s linear;
      }

      &:hover {
        color: #202020;

        path {
          fill: #202020;
        }
      }

      &--main {
        transition: all 0.3s linear;

        &:hover {
          color: $primary;
          border-bottom-color: $primary;
        }
      }
    }

    &--main {
      &:last-of-type .link {
        path {
          transition: all 0.3s linear;
        }

        &:hover {
          border-color: transparent;

          path {
            fill: $dark;
          }
        }
      }
    }
  }

  .log-in {
    transition: all 0.3s linear;

    &:hover {
      cursor: pointer;
      color: $secondary;
    }
  }

  .favorites {
    transition: all 0.3s linear;
    path {
      transition: all 0.3s linear;
    }
    .favorites__value {
      transition: all 0.3s linear;
    }
    &:hover {
      background: url('../img/header/flag.svg') no-repeat center / cover;
      .favorites__value {
        color: $light;
      }

      path {
        fill: $light;
      }
    }
  }

  .bag {
    transition: all 0.3s linear;
    path {
      transition: all 0.3s linear;
    }
    .bag__value {
      transition: all 0.3s linear;
    }
    &:hover {
      background: url('../img/header/flag-empty.svg') no-repeat center / cover;
      .bag__value {
        color: $primary;
      }

      path {
        fill: $primary;
      }
    }
  }


  .hero {
    &__button {
      transition: all 0.3s linear;

      &:hover {
        background-color: transparent;
        color: $dark;

        .button__arrow-right {
          path {
            fill: $dark;
          }
        }
      }
    }

  }


  .swiper-button-prev,
  .swiper-button-next {
    transition: all 0.3s linear;

    path {
      transition: all 0.3s linear;
    }

    &:hover {
      background-color: $dark;
      border-color: $dark;

      path {
        fill: $light;
      }
    }
  }

  .approved-form {
    &__title {
      transition: all 0.3s linear;
      path {
        transition: all 0.3s linear;
      }
      &:hover {
        color: $light;
        background-color: $dark;
        path {
          fill: $light;
        }
      }
    }
  }


  .social {
    &__link {
      path {
        transition: all 0.3s linear;
      }

      &:hover {
        path {
          fill: $dark;
        }
      }
    }
  }

  .col {
    &__button {
      path {
        transition: all 0.3s linear;
      }

      transition: all 0.3s linear;

      &:hover {
        color: $light;
        background-color: $dark;

        path {
          fill: $light;
        }
      }
    }
  }

  .categories {
    &__col {
      transition: all 0.3s linear;

      path {
        transition: all 0.3s linear;
      }

      &:hover {
        color: $light;
        background-color: $primary;

        path {
          fill: $light;
        }
      }
    }

    &__button {
      transition: all 0.3s linear;

      path {
        transition: all 0.3s linear;
      }

      &:hover {
        cursor: pointer;
        color: $light;
        background-color: $dark;

        path {
          fill: $light;
        }
      }
    }
  }



  .card {
    transition: all 0.3s linear;

    &:hover {
      box-shadow: 1px 1px 3px #919191;
    }

    &__img-block {
      &:hover {
        .card__block--hidden {
          display: block;
        }
      }
    }

    &__favorites-img {
      path {
        transition: all 0.3s linear;
      }

      &:hover {
        path {
          fill: $primary;
        }
      }
    }

    &__add-img,
    &__add-img--small {
      path {
        transition: all 0.3s linear;
      }
    }

    &__add-img--small:hover {
      path {
        fill: $primary;
      }
    }

    &__add-img:hover {
      path {
        fill: $dark;
      }
    }
  }

  .popular {
    &__button {
      transition: all 0.3s linear;
      path {
        transition: all 0.3s linear;
      }
    }

    &__button {
      &:hover {
        cursor: pointer;
        background-color: $dark;
        color: $light;

        path {
          fill: $light;
        }
      }
    }

  }

  .mobile-app__button {
    transition: all 0.3s linear;

    path {
      transition: all 0.3s linear;
    }

    &:hover {
      cursor: pointer;
      background-color: $light;
      color: $primary;

      path {
        fill: $primary;
      }
    }
  }

  .services__slide {
    transition: all 0.3s linear;

    &:hover {
      box-shadow: 1px 1px 3px #919191;
    }
  }

  .footer__button {
    transition: all 0.3s linear;

    path {
      transition: all 0.3s linear;
    }

    &:hover {
      cursor: pointer;
      background-color: $dark;
      color: $light;

      path {
        fill: $light;
      }
    }
  }

  .footer__item-link {
    transition: all 0.3s linear;

    &:hover {
      color: $dark;
    }
  }

  .footer__phone {
    transition: all 0.3s linear;

    &:hover {
      color: #919191;
    }
  }

  .footer__email {
    transition: all 0.3s linear;

    &:hover {
      color: $dark;
    }
  }

  .footer__send-error {
    transition: all 0.3s linear;

    &:hover {
      color: $light;
    }
  }

  .submenu__link {
    transition: all 0.3s linear;

    &:hover {
      color: $primary;
      border-color: $primary
    }
  }
}




@media screen and (max-width: 1366px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 10px;
  }
}


@media screen and (max-width: 1010px) {
  .card__flag {
    left: 0;
  }
}



@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }


  .navigation {
    &-wrap {
      display: none;

      &--active {
        display: flex;
        background-color: darken(#f8f6f7,3%);
        z-index: 200;
        position: absolute;
        top: 20px;
        right: 35px;
        flex-direction: column;

        .arrow-down {
          display: none;
        }

        .item__catalog {
          &:hover .submenu {
            display: none;
          }
        }

        .navigation {
          margin: 0;
          padding: 0 40px;
        }

        .item--main {
          margin: 0;
          justify-content: center;
          padding: 10px 0;
        }

        .item__link--main {
          padding: 0;
        }

        .menu--main {
          flex-direction: column;
          margin-bottom: 0;
        }

        .favorites {
          flex-direction: row;
          background: none;
          background-color: $light;
          margin: 0;
          width: auto;
          height: auto;
          padding: 5px 10px;

          &__value {
            margin-left: 5px;
          }
        }

        .bag {
          flex-direction: row;
          background: none;
          background-color: $primary;
          width: auto;
          height: auto;
          padding: 5px 10px;

          &__value {
            margin-left: 5px;
          }
        }

      }
    }

    &__button {
      display: block;
    }
  }


  .header {
    &__navbar {

      &--small {
        display: none;
      }
    }
  }

  .social--vertical {
    display: none;
  }

  .slide__text {
    display: none;
  }

  .hero {
    &__swiper-slide {
      background-size: 58%;
      background-position: bottom 0 right 0;
    }
  }


  .approved-form {
    &__title {
      flex-direction: column;

      &--bold {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }

      &::before,
      &::after {
        display: none;
      }
    }

    &__row {
      flex-direction: column;
      align-items: center;
    }

    &__col {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__img {
      display: none;
    }
  }

  .categories {
    &__title {
      justify-content: center;

      &::before,
      &::after {
        display: none;
      }
    }

    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__col {
      width: 50%;
      margin-bottom: 2rem;

      &:nth-of-type(2n+1) {
        margin-right: 2rem;
      }
    }
  }

  .popular {
    &__title {
      justify-content: center;

      &::before,
      &::after {
        display: none;
      }
    }

    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .timer {
    display: none;
  }

  .sales {
    &__title {
      justify-content: center;

      &::before,
      &::after {
        display: none;
      }
    }

    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .card {

    margin-bottom: 2.5rem;

    &:nth-of-type(2n+1) {
      margin-right: 2rem;
    }
  }

  .mobile-app {
    background: none;
    background-color: $primary;

    &__title {
      font-size: 4.142rem;
    }
  }

  .card__flag {
    left: -0.857rem;
  }

  .services {
    &__title {
      justify-content: center;

      &::before,
      &::after {
        display: none;
      }
    }

    &__swiper-button-prev {
      left: 0;
    }

    &__swiper-button-next {
      left: 3.571rem;
    }
  }

  .footer {
    &__row {
      justify-content: space-between;
    }

    &__col {
      width: 30%;

      &:nth-of-type(3) {
        display: none;
      }

      &:last-of-type,
      &:nth-of-type(2),
      &:first-of-type {
        margin: 0;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }


  .footer {
    &__row {
      flex-direction: column;
    }

    &__col {
      text-align: center;
      margin: auto;
      width: 100%;
      margin: 0;
      max-width: 768px;

      &:last-of-type,
      &:nth-of-type(2),
      &:first-of-type {
        margin-bottom: 2rem;
      }

      &:last-of-type {
        text-align: center;
      }
    }

    &__subtitle {
      margin-bottom: 1rem;
      max-width: 768px;
    }

    &__text {
      margin-bottom: 1.5rem;
    }

    &__logo {
      justify-content: center;
    }

    &__email {
      margin-bottom: 1.5rem;
    }
  }

  .pay-card {
    margin: auto;
  }


  .footer__download-link {
    &:first-of-type {
      margin-right: 5px;
    }
  }
}





@media screen and (max-width: 608px) {

  .hero {
    &__title {
      font-size: 2.5rem;
    }
  }

  .categories {
    &__row {
      flex-direction: column;
      align-items: center;
    }

    &__col {
      width: 100%;
      max-width: 318px;

      &:nth-of-type(2n+1) {
        margin-right: 0;
      }
    }
  }

  .popular {
    &__row {
      flex-direction: column;
      align-items: center;
    }
  }

  .sales {
    &__row {
      flex-direction: column;
      align-items: center;
    }
  }

  .card {
    &:nth-of-type(2n+1) {
      margin-right: 0;
    }
  }

  .mobile-app {
    &__title {
      font-size: 3.142rem;
    }

    &__text {
      font-size: 2rem;
    }
  }


  .footer {
    &-copyright {
      .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }

  .copyright {
    margin-bottom: 1rem;
  }

}


@media screen and (max-width: 479px) {
  .services {
    &__slide {
      max-width: 45rem;
      width: 100%;
    }
  }
}



@media screen and (max-width: 400px) {
  .approved-form__col {
    padding-right: 2rem;
  }
}

@media screen and (max-width: 328px) {
  .footer__download-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__download-link {
    &:first-of-type {
      margin-bottom: 5px;
      margin-right: 0;
    }
  }
}