.approved-form {
  padding-top: 2rem;
  padding-bottom: 3.571rem;

  &__title {
    text-decoration: none;
    position: relative;
    max-width: 51.428rem;
    display: flex;
    padding: 2.428rem 0;
    border: 2px solid $dark;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: $dark;
    font-size: 1.714rem;
    font-family: "DIN Pro - Light";
    letter-spacing: 0.24px;

    &--bold {
      font-family: "DIN Pro - Bold";
      margin-right: 0.5rem;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: -23rem;
      display: block;
      height: 1px;
      background: url('../img/index/form-left-line.svg') no-repeat center / contain;
      width: 23rem;
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      right: -23rem;
      display: block;
      height: 1px;
      background: url('../img/index/form-right-line.svg') no-repeat center / contain;
      width: 23rem;
    }
  }

  &__img {
    width: 0.5rem;
    height: 0.857rem;
    margin-left: 1.428rem;
    fill: $dark;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 2.142rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 32%;
    max-width: 31rem;
    padding: 3.357rem 3.428rem 6.285rem;

    &:first-of-type {
      background: #f6f6f6 url('../img/index/boys-products-bg.jpg') no-repeat center bottom/ contain;
    }

    &:nth-of-type(2) {
      background: #f6f6f6 url('../img/index/girls-products-bg.jpg') no-repeat center bottom / contain;
    }

    &:last-of-type {
      background: #f6f6f6 url('../img/index/accessories-bg.jpg') no-repeat center / contain;
    }
  }
}