.catalog {
  &__header {
    background-color: $light;
  }

  &__section {
    padding-top: 4.285rem;
    padding-bottom: 1px;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
  }

  &__selection {
    display: flex;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 1.214rem;
  }

  &__col {
    &--left {
      width: 24%;
      max-width: 22.714rem;
    }

    &--right {
      width: 75%;
      max-width: 72.857rem;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -0.285rem;

    .card {
      margin-top: 3.642rem;

      &:first-of-type,
      &:nth-of-type(2),
      &:nth-of-type(3) {
        margin-top: 3.571rem;
      }
    }
  }

  &-col {
    &__button {
      display: flex;
      align-items: center;
      padding: 1.214rem 1.5rem;
      text-align: left;
      width: 100%;
      box-shadow: inset 0 -1px 0 rgba(87, 87, 87, 0.1);
      border-radius: 0.357rem;
      border: none;
      background-color: #f6f6f6;
      color: $dark;
      font-size: 1.142rem;

      &--active {
        background-color: $primary;
        color: $light;

        .catalog-col__button-img {
          path {
            fill: $light;
          }
        }

      }

      &:not(:last-of-type) {
        margin-bottom: 0.928rem;
      }

      &-img {
        width: 1.428rem;
        margin-right: 1.785rem;

        path {
          fill: $secondary;
        }
      }
    }
  }

  &__title {
    color: $dark;
    margin: 0;
    font-size: 1.714rem;

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: #d7d7d7;
      margin-top: 1.428rem;
      margin-bottom: 2.142rem;
    }
  }

  &__menu {
    list-style-type: none;
    margin: 0;
    margin-top: 1.5rem;
    padding: 0;

    &-link {
      text-decoration: none;
      color: $dark;
      font-size: 1.142rem;
      line-height: 2.571rem;

      &--active {
        color: $secondary;
      }
    }
  }
}

.breadcrumb {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    &:not(:last-of-type)::after {
      content: '|';
      margin-right: 1rem;
      margin-left: 1rem;
      color: $secondary;
    }
  }

  &__link {
    color: $dark;
    font-size: 1.142rem;
    text-decoration: none;

    &--active {
      color: $secondary;
    }
  }
}

.sort {
  margin-right: 2.142rem;

  &__text {
    display: block;
    margin-bottom: 0.571rem;
    color: $secondary;
    letter-spacing: 0.14px;
  }

  &__select {
    width: 22.785rem;
    padding: 0.857rem 1.428rem;
    border: 1px solid #d0d0d0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url('../img/arrow-down-select.svg') no-repeat center right 20px;
  }

  &__option {
    outline: none;
    color: $dark;
  }
}

.thing {
  &__text {
    display: block;
    margin-bottom: 0.571rem;
    color: $secondary;
    letter-spacing: 0.14px;
  }

  &__select {
    width: 14.428rem;
    padding: 0.857rem 1.428rem;
    border: 1px solid #d0d0d0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url('../img/arrow-down-select.svg') no-repeat center right 20px;
    outline: none;
  }

  &__option {
    outline: none;
    color: $dark;
  }
}

.result {
  &__text {
    color: $secondary;
    font-size: 1.142rem;
    font-family: "DIN Pro - Light";
    text-align: center;
    margin-top: 2.714rem;
  }

  &__value {
    font-family: "DIN Pro - Bold";
  }

  &__thing-number {
    font-family: "DIN Pro - Bold";
  }
}

.paginations {
  margin-top: 2.142rem;
  display: flex;
  justify-content: center;

  &__item {
    width: 3.214rem;
    height: 3.214rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $dark;
    color: $dark;
    text-decoration: none;
    margin-right: 0.714rem;

    &--active {
      background-color: #e7e7e7;
      border-color: #e7e7e7;
    }
  }

  &__next {
    width: 3.214rem;
    height: 3.214rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    border: 2px solid $primary;

    &-img {
      width: 1rem;

      path {
        fill: $light;
      }
    }
  }
}