.header {
  position: relative;
  background-color: $accent;

  &__navbar {
    display: flex;
    align-items: center;
    &--main {
      position: relative;
    }

    &--small {
      height: 3.214rem;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #d7d7d7;
        top: 3.214rem;
        left: 0;
      }
    }
  }

}

.logo {
  display: flex;
  margin-top: 1.071rem;
  text-decoration: none;
  align-items: center;

  &__title {
    margin-left: 1.071rem;
    color: $dark;
    font-size: 1.714rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.154rem;
  }

  &__subtitle {
    display: block;
    font-size: 0.857rem;
    letter-spacing: 0.008rem;
    text-transform: none;
  }

  &__img {
    width: 4.285rem;
    img {
      width: 100%;
    }
  }

  &--small {
    margin: 0;
    margin-right: 2.142rem;
    width: 2.285rem;
    img {
      width: 100%;

    }
  }
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;

  &--small {
    &:not(:last-child)::after {
      content: '|';
      color: #d0d0d0;
      margin-left: 1.428rem;
      margin-right: 1.428rem;
    }
    &:last-child {
      margin-left: -0.5rem;
    }
  }

  &--main {
    margin-right: 2.5rem;
    position: relative;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: #d0d0d0;

    &--main {
      color: $dark;
      font-size: 1.142rem;
      font-family: "DIN Pro - Medium";
      font-weight: 500;
      letter-spacing: 0.011rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid transparent;
    }
  }
}

.link {
  text-decoration: none;

  &__img {
    margin-left: 0.5rem;
    height: 0.857rem;
    width: 0.857rem;
    fill: #d0d0d0;

    &--last {
      height: 1.571rem;
      width: 1.571rem;
      margin-left: 0;
      fill: $secondary;
    }
  }
}

.log-in {
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
  color: $dark;

  &__img {
    height: 0.857rem;
    width: 0.857rem;
    margin-left: 0.857rem;
    fill: #d0d0d0;
  }
}

.navigation {
  margin-top: 1.5rem;
  &-wrap {
    margin-left: auto;
    display: flex;
  }
}

.search {
  &__img {
    fill: $primary;
    height: 1rem;
    width: 1rem;
  }
}

.arrow-down {
  margin-left: 0.357rem;
  height: 0.857rem;
  width: 0.857rem;
}

.favorites {
  width: 4.357rem;
  height: 6rem;
  margin-left: 3.571rem;
  margin-right: 0.714rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../img/header/flag-empty.svg') no-repeat center / cover;

  &__img {
    height: 1.5rem;
    width: 1.5rem;
    fill: $primary;
  }

  &__value {
    color: $primary;
    font-size: 1.142rem;
    line-height: 2.142rem;
    letter-spacing: 0.011rem;
  }
}

.bag {
  width: 4.357rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../img/header/flag.svg') no-repeat center / cover;

  &__img {
    height: 1.5rem;
    width: 1.5rem;
    fill: $light;
  }

  &__value {
    color: $light;
    font-size: 1.142rem;
    line-height: 2.142rem;
    letter-spacing: 0.011rem;
  }
}

.submenu {
  position: absolute;
  display: none;
  list-style-type: none;
  padding: 0;
  padding-top: 1rem;
  margin: 0;
  top: 1.785rem;
  left: 0;
  z-index: 100;

  &__link {
    display: block;
    text-decoration: none;
    color: $dark;
    font-size: 1.142rem;
    font-family: "DIN Pro - Medium";
    letter-spacing: 0.011rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid transparent;
  }
}

.item__catalog {
  &:hover>.submenu {
    display: block;
  }
}


.navigation {
  &__button {
    position: relative;
    margin-left: auto;
    display: none;
    width: 30px;
    height: 30px;

  }
}




.button__line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  background-color: $dark;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    margin-top: -2px;
    background-color: $dark;
    display: block;
    transition: 0.2s;
  }

  &::before {
    transform: translateY(-9px);
  }
  &::after {
    transform: translateY(9px);
  }
  .navigation__button--active &::before {
    transform: rotate(35deg);
  }
  .navigation__button--active &::after {
    transform: rotate(-35deg);
  }
  .navigation__button--active & {
    background-color: transparent;
  }
}