.hero {
  padding-top: 2.142rem;
  background-color: $accent;

  &__swiper-container {
    width: 100%;
    height: 40.214rem;
  }

  &__swiper-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0.357rem;
    background: url('../img/index/hero/hero-slider-bg.png') no-repeat center;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    width: 3.214rem;
    height: 3.214rem;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccccc;
    left: 0;
    bottom: 9.071rem;
    top: auto;

    &::after {
      display: none;
    }

    &--active {
      background-color: $dark;
      border-color: $dark;
    }
  }

  &__swiper-button-next {
    left: 3.928rem;
  }

  &__title {
    max-width: 29.357rem;
    color: $dark;
    font-size: 2.571rem;
    line-height: 3.426rem;
    text-transform: uppercase;
    font-family: "DIN Pro - Light";
    letter-spacing: 0.36px;
    margin-bottom: 2.357rem;

    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 3.571rem;
      margin-top: 3.928rem;
      margin-bottom: 2.857rem;
      background-color: #cccccc;
    }
  }

  &__button {
    text-decoration: none;
    color: $light;
    display: block;
    max-width: 12.142rem;
    padding: 1.142rem 0 1.142rem 2.142rem;
    border: 2px solid $dark;
    font-size: 1.285rem;
    background-color: $dark;
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      content: '';
      display: block;
      height: 1px;
      width: 3.571rem;
      margin-top: 4rem;
      background-color: #cccccc;
    }
  }
}