.popular {
  padding-top: 3.571rem;
  padding-bottom: 3.571rem;
  text-align: center;

  &__title {
    color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.571rem;

    &::after {
      content: url('../img/index/right-line.svg');
      margin-left: 3.571rem;
    }

    &::before {
      content: url('../img/index/left-line.svg');
      margin-right: 3.571rem;
    }
  }

  &__row {
    margin-top: 2.857rem;
    margin-bottom: 4.285rem;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: inline-block;
    text-decoration: none;
    color: $dark;
    font-family: "DIN Pro - Medium";
    letter-spacing: 0.14px;
    padding: 1.071rem 2.5rem;
    margin: auto;
    border: 2px solid #202020;

    &-img {
      height: 0.785rem;
      margin-left: 0.857rem;
    }
  }
}

.card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 1.428rem;

  &__name {
    color: $dark;
    font-size: 1.285rem;
    font-weight: 700;
    line-height: 1.714rem;
    margin-bottom: 1.285rem;
    margin-top: 2.142rem;
    margin-left: 1.235rem;
  }

  &__category {
    display: block;
    color: $secondary;
    font-family: "DIN Pro - Light";
  }

  &__stars {
    margin-left: 1.5rem;
    margin-bottom: 2.142rem;
  }

  &__footer {
    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: #d7d7d7;
      margin-bottom: 2.142rem;
    }
  }

  &__price-tag {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__price {
    color: $dark;
    font-size: 2.142rem;
    margin-left: 1.5rem;
    margin-right: 0.5rem;

    &--old {
      margin-left: 1.5rem;
      margin-top: 1.285rem;
      display: block;
      color: $secondary;
      font-size: 1.142rem;
    }

    &--line-through {
      line-height: 1.714rem;
      text-decoration: line-through;
    }
  }

  &__currency {
    font-size: 1.142rem;
    color: $dark;
  }

  &__add {
    margin-left: auto;
    border: none;
    background-color: transparent;
    margin-right: 1.428rem;

    &-img {
      width: 1.714rem;
      height: 1.714rem;

      path {
        fill: $secondary;
      }

      &--small {
        position: absolute;
        right: 1.428rem;
        top: 3.928rem;
        width: 1.428rem;
        height: 1.428rem;

        path {
          fill: $light;
        }
      }
    }
  }

  &__img-block {
    position: relative;

    img {
      width: 100%;
    }
  }

  &__block {
    &--hidden {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(#000000, 0.6);
      transition: all 0.3s linear;
    }
  }

  &__favorites-img {
    position: absolute;
    top: 1.428rem;
    right: 1.428rem;
    width: 1.428rem;
    fill: $light;
  }

  &__flag {
    position: absolute;
    top: 1.071rem;
    left: -0.714rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.071rem;
    height: 3.571rem;
    color: $light;
    font-size: 2.142rem;
    line-height: 1.714rem;
    letter-spacing: -0.3px;
    z-index: 99;
    background: url('../img/card/card-flag.png') no-repeat center;
  }

}