.sales {
  padding-top: 2.928rem;
  padding-bottom: 7.142rem;
  text-align: center;

  &__title {
    color: $dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 2.571rem;
    margin: 0;
    font-weight: 300;

    &::after {
      content: '';
      display: block;
      height: 1rem;
      background: url('../img/index/right-line.svg') no-repeat center / contain;
      width: 33.428rem;
    }

    &::before {
      content: '';
      display: block;
      height: 1rem;
      background: url('../img/index/left-line.svg') no-repeat center / contain;
      width: 33.428rem;
    }
  }

  &__row {
    margin-top: 2.857rem;
    margin-bottom: 2.428rem;
    display: flex;
    justify-content: space-between;
  }
}