.services {
  padding-top: 7.142rem;
  padding-bottom: 7.142rem;

  &__title {
    color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.571rem;

    &::after {
      content: url('../img/index/right-line.svg');
      margin-left: 2.142rem;
    }

    &::before {
      content: url('../img/index/left-line.svg');
      margin-right: 2.142rem;
    }
  }

  &__slide {
    display: block;
    text-decoration: none;
    padding-bottom: 1.428rem;
  }

  &__text {
    color: $dark;
    font-size: 1.285rem;
  }

  &__link {
    display: block;
    color: $secondary;
    font-family: "DIN Pro - Light";
  }

  &__swiper-container {
    position: relative;
    padding-bottom: 7.5rem;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    width: 3.214rem;
    height: 3.214rem;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccccc;
    bottom: 0;
    top: auto;

    &::after {
      display: none;
    }

    &--active {
      background-color: $dark;
      border-color: $dark;
    }
  }

  &__swiper-button-prev {
    left: 46.3%;
  }

  &__swiper-button-next {
    right: 46.3%;
  }
}