.timer {
  padding-top: 2.928rem;
  padding-bottom: 3.571rem;
  text-align: center;

  &__title {
    color: $dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 2.571rem;
    margin: 0;
    font-weight: 300;

    &::after {
      content: '' ;
      display: block;
      height: 1rem;
      background: url('../img/index/right-line-small.svg') no-repeat center / contain;
      width: 29.857rem;

    }

    &::before {
      content: '';
      display: block;
      height: 1rem;
      background: url('../img/index/left-line-small.svg') no-repeat center / contain;
      width: 29.857rem;
    }
  }

  &__row {
    margin-top: 2.857rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2.5rem;
  }

  &__text {
    display: block;
    color: $dark;
    font-size: 2.142rem;
    font-family: "DIN Pro - Light";
    margin-top: 0.428rem;
  }

  &__value {
    display: block;
    color: $primary;
    font-family: "DIN Pro - Bold";
    font-size: 5.142rem;
  }

}

.outer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 2px dashed #d7d7d7;
}

.inner-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 14.142rem;
  height: 14.142rem;
  border-radius: 50%;
  border: 0.357rem solid #f47920;
  background-color: #f6f6f6;
}